/app/.gradle
/app/local.properties
/app/.idea/workspace.xml
.DS_Store
.Rhistory
psychophysiocollector/.gradle/2.2.1/taskArtifacts/cache.properties.lock
psychophysiocollector/.gradle/2.2.1/taskArtifacts/fileHashes.bin
psychophysiocollector/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
psychophysiocollector/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
psychophysiocollector/.idea/workspace.xml
app/app/build
app/.idea
app/build
psychophysiocollector/.idea/
psychophysiocollector/.gradle/
psychophysiocollector/build/intermediates/dex-cache/cache.xml
psychophysiocollector/local.properties
